@import url('https://fonts.googleapis.com/css?family=' +
    'Montserrat:200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap&subset=cyrillic,cyrillic-ext,latin-ext');

@import "~@mdi/font/css/materialdesignicons.min.css";

@mixin font-montserrat {
  font-family: 'Montserrat', sans-serif;
}

$primary-color: var(--v-primary-base);
$border-bottom: var(--v-line-base);
$border-bottom2: var(--v-line2-base);
$hover-item: var(--v-hoverItem-base);
$input-text-color: var(--v-inputTextColor-base);
$text-color: var(--v-textColor-base);
$border-color: var(--v-borderColor-base);
$scrollbar-track: var(--v-scrollbarTrack-base);
$backgroundOrderItem: var(--v-backgroundOrderItem-base);
$backgroundSearchPanel: var(--v-backgroundSearchPanel-base);


body{
  font-size: small;
}

.scroll::-webkit-scrollbar {
  width: 11px;
}

.scroll::-webkit-scrollbar:hover {
  width: 20px;
}

.scroll::-webkit-scrollbar-thumb {
  border: 3px solid transparent;
  background-clip: content-box;
  background-color: #616161;

}

.scroll::-webkit-scrollbar-thumb:hover {
  background-clip: border-box;
  background-color: #616161;
}

.scroll::-webkit-scrollbar-thumb:active {
  background-color: darkorange;
}

.scroll::-webkit-scrollbar-track {
  //-webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset;
  background-color: $scrollbar-track;
}

.scroll::-webkit-scrollbar-track-piece {
  width: 10px;
}

.font-s {
  font-size: small;
}
.font-m {
  font-size: medium;
}
.font-xl {
  font-size: large;
}

.styled-input label[for] {
  font-size: small;
}

.section-row {
  font-size: small;
  margin: 0;
}

.v-dialog {
  border-radius: 0 !important
}

.section-row-container {
  //border: 1px solid #ff0000;
  border-bottom: 1px solid $border-bottom2;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section-row-container:hover {
  background: $hover-item;
}

.section-cols {
  //border: 1px solid #ccc;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.col-idx {
  flex-basis: 3%;
}

.col-name {
  flex-basis: 40%;
}

.col-dimension {
  flex-basis: 5%;
}

.col-quantity {
  flex-basis: 5%;
}

.col-price {
  flex-basis: 5%;
}

.col-sum {
  flex-basis: 5%;
}

.col-comment {
  flex-basis: 30%;
}

.col-action-section {
  text-align: right;
  flex-basis: 5%;
}

.input {
  color: $input-text-color;
  border: 1px solid $border-color;
  width: 70px;
  text-align: left;
  padding: 2px;
  outline:none;
}

.input:focus {
  width: 70px;
  outline:none;
}

.no-content {
  //border: 1px solid black;
  margin: 2rem auto;
  text-align: center;
}

.draggable {
  cursor: grab;
}

.draggable:active {
  cursor: grabbing;
}
